@charset "utf-8";
@import url(font.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Pretendard-Regular';
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #ffffff
}
body::-webkit-scrollbar-thumb {
    background-color: #ebf6ff;
    border-radius: 100px;
}
header {
    display: flex;
    align-items: center;
}
.head h1 {
    margin-left: 15px;
    font-size: 7.125rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 8px;
    opacity: 0.1;
}
header .wrap {
    /* height: 8vh; */
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
    position: fixed;
    margin-top: -25px;
    z-index: 999;
}
.wrap h1 {
    opacity: 0.05;
    font-size: 9.925rem;
    z-index: -999;
}
.wrap > button {
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
}
.wrap > button:before {
    content: '';
    height: 8px;
    width: 0;
    background: #ebf6ff;
    position: absolute;
    z-index: -999;
    left: 0;
    bottom: 5px;
}
.wrap > button:hover:before {
    width: 100%;
    background: #ebf6ff;
}
/* //header */

main {
    display: flex;
    align-items: center;
    position: relative;
}
.head2 h1 {
    position: absolute;
    top: 110%; right: 0.5%;
}
main figure img {
    width: 750px;
    margin: 38px 280px;
    z-index: -999;
    animation: motion 1.2s infinite alternate;
}
@keyframes motion{
    100%{transform:translate(0,25px);}
    100%{transform:translate(0,25px);}
 }
.main_text {
    position: absolute;
    right: 34%;
}
.main_text h2 {
    font-size: 1.5rem;
}
.main_text h3 {
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.125rem;
    font-weight: 500;
    letter-spacing: 3px;
}
.main_text h3:after {
    position: absolute;
    content: '';
    height: 4px;
    width: 653px;
    top: 45%; 
    background: #111;
}
.main_text p {
    font-size: 1.1rem;
    line-height: 1.7;
}
/* //main */

.wrap02 {
    text-transform: uppercase;
    margin-top: 230px;
    position: relative;
}
#content1 {
    height: 100%;
    width: 100%;
}
#content1 h2 {
    position: absolute;
    font-size: 3.925rem;
    top: 100px; left: 80px;
}
#content1 .about_pic {
    width: 650px;
    height: 680px;
    background: #ebf6ff;
}
#content1 .about_pic figure img {
    width: 70%;
    margin: 65px 195px;
}
.about_pic dl {
    margin-top: -30px;
    text-align: right;
    line-height: 1.4;
}
.about_pic dl dt {
    font-weight: 700;
    font-size: 2.489rem;
}
.about_pic dl dd {
    font-size: 1.222rem;
}
.about_pic dl dd:last-child {
    text-transform: lowercase;
}
.about {
    display: flex;
}
.about_text {
    margin: 50px 70px;
}
.about_text .skill {
    position: absolute;
    top: 18%; left: 63%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.about_text .skill h3 {
    font-size: 1.999rem;
}
.career span {
    display: block;
    font-weight: 700;
    font-size: 1.850rem;
    line-height: 2.9;
}
.career p {
    font-size: 1.278rem;
    line-height: 1.6;
}
.career p:last-child {
    padding-bottom: 40px;
}
.summary p {
    font-size: 1.407rem;
    line-height: 1.5;
}
.about_text h3 {
    text-align: right;
}
.about_text ul {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
.about_text ul li img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(1px 3px 3px);
}
.about_text ul li img:last-child {
    width: 100px;
    height: 100px;
    filter: drop-shadow(1px 4px 4px);
}
.skill_pic {
    display: flex;
}
.skill_pic li img {
    width: 30%;
}
/* //#content1 */

#content2 {
    position: relative;
    height: 100vh;
    width: 100%;
}
#content2 h2 {
    position: absolute;
    font-size: 3.925rem;
    top: 100px; left: 80px;
}
#content2 h2::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 1px;
    background: #ccc;
    top: 90px; left: -80px;
}
.port_pic {
    position: relative;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 100px;
}
.site {
    position: relative;
    left: 40px;
}
.port_pic .site .view {
    display: block;
    position: absolute;
    opacity: 0;
    border: none;
    top: 170px; left: 220px;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1.5rem;
    color: #000000;
    background: #ebf6ff;
    transition: opacity 0.5s ease-in-out;
}
.site:hover img {
    filter: brightness(50%);
    transition: all 0.3s;
}
.site:hover .view {
    opacity: 1;
}
.site1:after {
    content: '';
    position: absolute;
    width: 50px; height: 50px;
    border-radius: 50%;
    background: #ebf6ff;
    z-index: -999;
    top: 140px;
    left: 630px;
}
.site2::before {
    content: '';
    position: absolute;
    width: 50px; height: 50px;
    border-radius: 50%;
    background: #ebf6ff;
    z-index: -999;
    top: 140px;
    left: -70px;
}
.popup_base {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    display: none;
 }
 .popup_base .pop_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 68vw;
    height: 600px;
    position: absolute;
    top: 10%; left: 50%;
    transform: translate(-50%,-50%);
    /* top: 150px; left: 300px; */
    background: #fff;
 }
 .popup_base .pop_content .btn_xpop {
    position: absolute;
    right: 0; top: 0;
 }
 .popup_base .pop_content .btn_xpop button {
    display: block;
    width: 45px; height: 45px;
    margin: 20px 5px;
    overflow-y: hidden;
    border: none;
    background: url(../img/black_close.png) no-repeat;
    background-size: 30px;
    text-indent: -999px;
    cursor: pointer;
}
.pop_list li {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 80px;
}
.pop_list dl dt {
    position: relative;
    font-size: 2.923rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.pop_list li dl dt > img:first-child {
    position: absolute;
    top: -10px; left: -50px;
}
.pop_list li dl dt > img:last-child {
    position: absolute;
    top: 53px; right: 145px;
}
.popup_base .pop_content .pop_list img {
    width: 40%;
}
.pop_list li dl .long {
    font-size: 1.2rem;
    line-height: 1.5;
    padding-top: 20px;
}
.pop_list li dl dd {
    position: relative;
}
.pop_list li dl dd:nth-child(n+3):nth-child(-n+5) {
    line-height: 1.8;
    margin-left: 10px;
}
.pop_list li dl dd:nth-child(3) {
    margin-top: 30px;
}
.pop_list li dl dd::before {
    position: absolute;
    content: '';
    background: #ebf6ff;
    width: 8px; height: 8px;
    border-radius: 50%;
    left: -12px; top: 9px;
}
.pop_list li dl .long::before {
    content: none;
}
.site_tag {
    position: absolute;
    top: 490px; right: 80px;
}
.site_tag > a {
    font-size: 1.1rem;
    padding: 15px 20px;
    border: 1px solid #ebf6ff;
    border-radius: 10px;
}
.site_tag > a:last-child {
    text-transform: capitalize;
}
.altools::before {
    content: url(../img/altools_blind.png);
    opacity: 0;
    background: #fff;
    position: absolute;
}
.altools:hover:before {
    left: 22px;
    opacity: 1;
    background:  #fff;
}
.royal:before {
    content: url(../img/royal_logo.png);
    opacity: 0;
    background: #fff;
    position: absolute;
}
.royal:hover:before {
    top: -3px; left: 7px;
    opacity: 1;
    background:  #fff;
}
.github:before {
    content: url(../img/github.png);
    opacity: 0;
    background: #ffff;
    position: absolute;
}
.github:hover:before {
    top: -4px; right: 15.5px;
    opacity: 1;
    background: #fff;
}
/* //content2 */

#content3 {
    position: relative;
    height: 100vh;
    width: 100%;
    text-transform: capitalize;
}
#content3 h2 {
    position: absolute;
    font-size: 3.925rem;
    top: 100px; left: 80px;
}
.design {
    display: flex;
    position: relative;
}
.design:after {
    content: '';
    position: absolute;
    background: #ebf6ff;
    width: 3080px;
    height: 330px;
    top: 428px; right: -100px;
    z-index: -999;
}
.design_pic {
    display: flex;
    gap: 50px;
    margin: 60px 130px;
}
.design_text {
    margin-top: 30px;
}
.design_text dl dt {
    font-size: 3.11rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.design_text dl dd:nth-child(2) {
    font-size: 1.2rem;
    padding-top: 30px;
    line-height: 1.5;
}
.design_text dl dd:nth-child(3) {
    margin-top: 100px;
}
.design_text dl dd:nth-child(n+3) {
    font-size: 1.19rem;
    line-height: 1.4;
}
.design_text dl dt > img {
    width: 160px;
}
.figma {
    position: relative;
    font-size: 1.1rem;
    padding: 15px 20px;
    border: 1px solid #ebf6ff;
    border-radius: 10px;
    height: 22px;
    top: 350px; right: 50px;
}
.figma:before {
    content: url(../img/figma.png);
    opacity: 0;
    background: #ffff;
    position: absolute;
}
.figma:hover:before {
    top: 15px; right: 20px;
    opacity: 1;
    background: #fff;
}
/* //content3 */

#content4 {
    position: relative;
    height: 100vh;
    width: 100%;
}
#content4 h2 {
    position: absolute;
    font-size: 3.925rem;
    top: 100px; left: 80px;
}
.contact {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
    text-transform: capitalize;
}
.contact .text {
    border: 1px solid none;
    height: auto;
    padding: 60px;
    border-radius: 30px;
    box-shadow: 0 0 2px rgba(0,0,0,.08), 4px 12px 36px rgba(0,0,0,.09);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact a {
    position: absolute;
    top: 450px;
    font-size: 1.1rem;
    padding: 15px 20px;
    border: 1px solid #ebf6ff;
    border-radius: 10px;
}
.contact a:hover {
    background: #ebf6ff;
    transition: all 0.5s;
}
.contact .text p {
    font-size: 1.69rem;
    line-height: 1.9;
}
#content4 img {
    width: 50%;
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,0.8);
}
